*{
    background-color: rgb(64, 118, 255);
}

.title{
    color:rgb(254, 183, 78);
}

.card-body{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    border-color: black;
    display: flex;
    margin-top: 100px;
}

#jumbo{
    margin-left: 100px;
}

li{
    list-style-type: none;
    font-weight:bolder;
    font-size: large;
}

#searchBar{
    margin-top: 300px;
    margin-left: 650px;
    color:white;
}

.searchButton{
    background-color: rgb(254, 183, 78);
}

#searchInput{
    background-color: rgb(255, 255, 255);
}

.searchLabel{
    font-weight: bold;
    font-size: large;
}

.cards{
    color:white;
}